body {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
}

#new-message {
   border-radius: 2px 2px 2px 2px;
   -moz-border-radius: 2px 2px 2px 2px;
   -webkit-border-radius: 2px 2px 2px 2px;
   border: 0px solid #000000;
   background-color: red;
   text-align: center;
   position: absolute;
   min-width: 14px;
   max-width: 20px;
   margin-left: -8px;
}

.block_head {
    background: #121212 none repeat scroll 0% 0%;
    position: relative;
    z-index: 1;
    border: 1px solid #2A2A2A;
    margin: 0px 0px 5px;
    padding: 4px;
}

td.bord {
   border: 1px solid #121212;
}

#mainNavigation ul {
    margin: 0px;
}
ul, ol {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 17px;
    list-style-position: inside;
    color: #CCC;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#mainNavigation ul li {
    list-style: outside none none;
    border-bottom: 1px solid #343434;
    width: 100%;
    padding: 0px 0px 0px 10px;
    font-family: "PT Sans Narrow",sans-serif;
    font-weight: normal;
    margin-top: 6px;
    margin-left:-26px;
    text-transform: uppercase;
}

#logo {
    position: relative;
}

.logo {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

#mainContainer {
    overflow: hidden;
    z-index: 2;
    min-height: 100%;
}

.columns.right {
    float: right;
    margin-right: 10%;
}

.nine, .row .nine {
    width: 75%;
}

.container {
    background-image: url(images/content_back.png);
    width: 820px;
    margin-top:-16px;
}

.back {
    z-index: 0;
}

.container {
    background-position: center center;
    border-bottom: medium none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    bottom: 0px;
    z-index: 2 !important;
}
}

.row {
    width: 1000px;
    max-width: 100%;
    min-width: 768px;
    margin: 0px auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0px;
    margin: 0px -15px;
}

.block_border {
    border-bottom: 1px solid #434343;
    margin: 5px 0px 20px;
}

div#navContainer {
    top: 0px;
    max-width: 240px;
    width: 25%;
    z-index: 3;

}
div#navContainer {
    position: fixed;
    margin-left: 138px;
}

div#navArrowImg {
    position: absolute;
    width: 100%;
}

div#navRepeatPart {
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}

#bgRepeat, #bgRepeat img {
    height: 100%;
    width: 100%;
}
#bgRepeat {
    position: absolute;
    overflow: hidden;
}

div#mainNavigation {
    position: relative;
    padding: 0px 30px;
}

a:link,a:active,a:visited { text-decoration: none; color: #FFF; }
a:hover        { text-decoration: none; color: #126892; }

h1 {
    font-size: 12pt;
}

p {
    font-size: 10pt;
}

strong.quoteheader {color: #000;}

blockquote {
margin: 10px;
padding: 10px;
border: 1px dashed #666;
}

/* Pager */
a.g_bblink { color: #000000; font-weight: bold;		}

a:visited.g_bblink {	color: #000000;	font-weight: bold;		}		/*black bold link*/

a:hover.g_bblink {	color: #a8d3ff; font-weight: bold;		}

a.g_bllink {	color: #000000;		}

a:visited.g_bllink {	color: #000000;		}		/*black link*/

a:hover.g_bllink 	{	color: #a8d3ff;		}

p.browse_changepage
{
	text-align: center;
	padding: 0 !important;
}
/* Pager End */

table.lista {
}

td.block {
         border:1px solid #345487;
         background-color: #3860BB;
         background-image:url(block_back.gif);
         padding:0px;
         margin:0px;
         font-size: 12pt;
         color: #3939AA;
}

td.blocklist {
         background-color: #DFE6EF;
         padding:2px;
         margin:1px;
         font-size: 8pt;
         font-weight: bold;
         color: #3939AA;
}

td.lista {
    color : #FFFFFF;
    font-size: 8pt;
}

td {
}

td.header {
           font-weight:bold;
           color:#3A4F6C;
           padding:7px;
           margin:0px;
           background-color: #121212;
}

td.title {
    font-size: 8pt;
}

td.navigation {
    background-color: #FAFCFE;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
    background-color:#E0ECF7;
    color: red;
}


td.yellow {
    background-color:#E0ECF7;
    color: #BEC635;
}


td.green {
    background-color:#E0ECF7;
    color: green;
}

td.progress {
    padding: 0px;
    background-image: url(backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 
