body {
    margin: 0px;
    padding: 70px 0px 0px;
    color: #413F36;
    background-color: #F4EFD6;
    background-image: url("images/bg.jpg");
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
}

#bodywrap {
    width: 100%;
    float: left;
    background-image: url("images/bg-2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    padding: 56px 0px 0px;
}

#bottom-bg {
    width: 100%;
    float: left;
    background-image: url("images/bg-3.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 90px;
}

#wrapper2 {
    width: 950px;
    margin: auto;
    margin-top: -5px;
    position: relative;
    background-image: url("images/wrapper-bg.jpg");
    background-repeat: repeat;
    border: solid 8px #DDD5BA;
    outline: 1px solid #C7BEA2;
}

.stats {
    background: #B6665B url("images/stats-bg.jpg") repeat scroll 0% 0%;
    font-size: 12px;
    color: #FFF;
    float: right;
    text-transform: lowercase;
    padding: 1px 5px 4px 5px;
    height: 36px;
    font-family: Georgia;
    font-style: italic;
    margin-top: 3px;
}

#pages-inside ul li a:link, #pages-inside ul li a:visited, #pages-inside ul li a:active {
    float: left;
    display: block;
    height: 31px;
    font-size: 18px;
    padding: 10px 15px 0px;
    margin: 0px;
    font-weight: bold;
    text-transform: lowercase;
    color: #413F36;
}

.home-link a, .current_page_item a:link, #pages .current_page_item a:visited {
    background-color: #66614E;
    color: #FFF !important;
    background-image: url("images/nav-hover-bg.gif");
}

.nav a {
    display: block;
}

a:link, a:visited {
    text-decoration: none;
    color: #6B9E8E;
}

#pages {
    width: 100%;
    float: left;
    height: 59px;
    background-image: url("images/nav-bg.jpg");
    margin-top: 7px;
}

#pages-inside {
    width: 950px;
    margin: auto;
}

#pages-inside ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0px;
    margin: 8px 0px 0px;
}

#pages-inside ul li {
    float: left;
    display: block;
    height: 41px;
    padding: 0px;
    margin: 0px;
}

.nav, .nav * {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.nav li {
    float: left;
    position: relative;
    z-index: 99;
}

ul {
    list-style-image: url("images/bullet.gif");
    line-height: 23px;
}

ol, ul {
    list-style: outside none none;
}

#new-message {
   border-radius: 2px 2px 2px 2px;
   -moz-border-radius: 2px 2px 2px 2px;
   -webkit-border-radius: 2px 2px 2px 2px;
   border: 0px solid #000000;
   background-color: red;
   text-align: center;
   position: absolute;
   min-width: 14px;
   max-width: 20px;
   margin-left: -8px;
}

.block_head {
    color: #C7BEA2;
    background: #C7BEA2 none repeat scroll 0% 0%;
    background-image: url("images/block-bg.gif");
    position: relative;
    z-index: 1;
    border: 1px solid #2A2A2A;
    margin: 0px 0px 5px;
    padding: 4px;
}

td.bord {
   border: 1px solid #C7BEA2;
}

#mainNavigation ul {
    margin: 0px;
}
ul, ol {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 17px;
    list-style-position: inside;
    color: #CCC;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#mainNavigation ul li {
    list-style: outside none none;
    border-bottom: 1px solid #343434;
    width: 100%;
    padding: 0px 0px 0px 10px;
    font-family: "PT Sans Narrow",sans-serif;
    font-weight: normal;
    margin-top: 6px;
    margin-left:-26px;
    text-transform: uppercase;
}

.logo {
    width: 950px;
    height: 65px;
    margin: auto;
}

.text-center {
    text-align: center;
}

#mainContainer {
    overflow: hidden;
    z-index: 2;
    min-height: 100%;
}

.columns.right {
    float: right;
    margin-right: 10%;
}

.nine, .row .nine {
    width: 75%;
}

.container {
    background-image: url(images/content_back.png);
    width: 820px;
    margin-top:-16px;
}

.back {
    z-index: 0;
}

.container {
    background-position: center center;
    border-bottom: medium none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    bottom: 0px;
    z-index: 2 !important;
}

.row {
    width: 1000px;
    max-width: 100%;
    min-width: 768px;
    margin: 0px auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0px;
    margin: 0px -15px;
}

.block_border {
    border-bottom: 1px solid #434343;
    margin: 5px 0px 20px;
}

div#navContainer {
    top: 0px;
    max-width: 240px;
    width: 25%;
    z-index: 3;

}
div#navContainer {
    position: fixed;
    margin-left: 138px;
}

div#navArrowImg {
    position: absolute;
    width: 100%;
}

div#navRepeatPart {
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}

#bgRepeat, #bgRepeat img {
    height: 100%;
    width: 100%;
}
#bgRepeat {
    position: absolute;
    overflow: hidden;
}

div#mainNavigation {
    position: relative;
    padding: 0px 30px;
}

h1 {
    font-size: 12pt;
}

p {
    font-size: 10pt;
}

strong.quoteheader {color: #000;}

blockquote {
margin: 10px;
padding: 10px;
border: 1px dashed #666;
}

/* Pager */
a.g_bblink { color: #000000; font-weight: bold;		}

a:visited.g_bblink {	color: #000000;	font-weight: bold;		}		/*black bold link*/

a:hover.g_bblink {	color: #a8d3ff; font-weight: bold;		}

a.g_bllink {	color: #000000;		}

a:visited.g_bllink {	color: #000000;		}		/*black link*/

a:hover.g_bllink 	{	color: #a8d3ff;		}

p.browse_changepage
{
	text-align: center;
	padding: 0 !important;
}
/* Pager End */

table.lista {
}

td.block {
   font-weight: bold;
   color: #C7BEA2;
   padding: 7px;
   margin: 0px;
   background-color: #413F36;
}

td.blocklist {
         background-color: #DFE6EF;
         padding:2px;
         margin:1px;
         font-size: 8pt;
         font-weight: bold;
         color: #3939AA;
}

td.lista {
    color : #413F36;
    font-size: 8pt;
    background-color: #C7BEA2;
}

td {
}

td.header {
           font-weight:bold;
           color:#C7BEA2;
           padding:7px;
           margin:0px;
           background-color: #413F36;
}

td.title {
    font-size: 8pt;
}

td.navigation {
    background-color: #FAFCFE;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
    background-color:#E0ECF7;
    color: red;
}


td.yellow {
    background-color:#E0ECF7;
    color: #BEC635;
}


td.green {
    background-color:#E0ECF7;
    color: green;
}

td.progress {
    padding: 0px;
    background-image: url(backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 
